body {
    text-align: center;
    background-color: #EF8354;
    color: #FCEDE3;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: azure;
    text-decoration: none;
    font-size: xx-large;
}

a:hover {
    color:#EF8354;
}

#bus {
    display: flex;
    justify-content: center;
}


#div2,
#div3,
#div4,
.kasse {
  float: left;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color:honeydew;
  color: #d05825;
}
img {
    max-width: 100%;
    height: auto;
}

.videre {
    clear: both;
    display: block;
    background-color: #d05825;
    padding: 2ch;
    width: 33%;
    margin: auto;
    margin-top: 24px;
    border-radius: 10px;
}